<!DOCTYPE html>
<html>
  <head>
    <title>LoyaltyReward</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/notice' %>
    <main class="lg:w-3/4 md:w-5/6 w-11/12 mx-auto mt-10 mb-20 md:px-5">
      <%= yield %>
    </main>
  </body>
</html>
